body {
    background-color: rgb(255, 255, 255);
    /*background: url(./css/fon.jpg) no-repeat 30px 20px; /* Параметры фона */
   } 

h1 {
    font: bold 26px sans-serif;
    padding: 25px 35px 25px 5px;
}
h2 {
    font: bold 22px sans-serif;
    padding: 5px 25px 5px 25px;
}
p {
    font: normal 16px serif;
    padding: 5px 25px 5px 25px;
    margin: 10px;  
}
aside {
    float: left;
    margin: 0 1.5%;
    width: 30%;
}
section {
}
.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
.menu{

}
.nav {
    display: flex;
    justify-content: flex-end;
    
}
li {
    list-style: none;
}
.nav-li{
    font: bold 22px serif;
    padding: 5px 10px 5px 10px;
    margin: 10px;  
    color: black;
}
.description {
    display: block;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 300px;
    margin: 10px 15px;
    float: right;
    margin: 0 1.5%;
    width: 63%;
  }
.title {

}
.avatar{
    padding: 20px 35px 20px 20px;
    margin: 20px -350px;
    float: left;
}
.content {
    flex: 1 0 0;
    flex: 1 0 0;
    min-width: 300px;
    background-color: #faf9f9;
    border: 0px solid #7f7a83;
    border-radius: 25px;
    margin: 10px 15px 
  }

.photo {
    flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
footer {
    display:flex ;
    justify-content: center;
    background-color: #faf9f9;
}
.footer-ul {
    float: right;
    display: flex;
}
.pic {
    float: none;
    display: flex;  
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex: 1;
}
.footer-p{
    font: bold 20px serif;

}
